
<template>
<div >
  <div style="float:left;padding-left:50px">
    <b-dropdown id="dropdown-form" text="Authorities / Collections" ref="dropdown" class="m-2" variant="light">
      <b-dropdown-form style="width:800px">
           <b>Select Authorities</b>
   <b-dropdown-divider></b-dropdown-divider>
              <div class="my-buttons">
            <b-form-group v-slot="{ ariaDescribedby }"  >
                        <b>Status: </b>
                      <b-form-radio-group style="display: inline-block;margin:10px;padding-left:100px"
                         id="radio-group-1"
                            v-model="selected"
                            size="lg"
                         
                             button-variant="outline-secondary"
                            :options="options"
                             :aria-describedby="ariaDescribedby"
                             name="radio-options" >
                     </b-form-radio-group>
            </b-form-group>
              </div>
            <b-form-group v-slot="{ ariaDescribedby }"  >
                        <b>Type: </b>

                <b-form-checkbox-group style="display: inline-block;margin:10px;padding-left:100px"
                                id="checkbox-group-1"
                                v-model="selected2"
                                size="lg"
                                :options="options2"
                                :aria-describedby="ariaDescribedby"
                                name="flavour-1"
                                
                            >
                            </b-form-checkbox-group>
                            </b-form-group>
           
      <b-dropdown-divider></b-dropdown-divider>
      <div style="padding-left:30%">
        <input type="checkbox" id="jack" value="IP 5" size="lg" v-model="checkedNames">
<label for="jack" style="margin:15px">IP 5</label>
<input type="checkbox" id="john" size="lg" value="IP 15" v-model="checkedNames">
<label for="john" style="margin:15px">IP 15</label>
<input type="checkbox" id="mike" size="lg" value="IP 25" v-model="checkedNames">
<label for="mike" style="margin:15px">IP 25</label>
      </div>
   




  
  <div v-for="fin in  final" :key="fin.country" style="height:100%" >
         <b-button variant="light" style="margin:10px;float:left"   >
                    {{fin}}
         </b-button>       
    </div>

  <!-- <b-dropdown-divider></b-dropdown-divider> -->
<!-- <span>Checked names: {{ checkedNames }}</span><br><br> -->
<br>

<!-- <button @click="findData()">Find</button> -->
      </b-dropdown-form>
      <div style="padding-left:40%">
      <b-button variant="danger" @click="submit()" >Submit</b-button>

      </div>
      <b-dropdown-divider></b-dropdown-divider>
     
    </b-dropdown>
  </div>
  </div>
</template>




<script>
import axios from 'axios'
  export default {
    data() {
      return {
        selected: 'all',
        options: [
          { text: 'All', value: 'all' },
          { text: 'Alive', value: 'alive' },
          { text: 'Dead', value: 'dead' }
        ],
        qwert:"qwert",
        selected2: [], // Must be an array reference!
        options2: [
          { text: 'Orange', value: 'orange' },
          { text: 'Apple', value: 'apple' },
          { text: 'Pineapple', value: 'pineapple' },
          { text: 'Grape', value: 'grape' }
        ],
         checkedNames: [],
         fullInfo:[],
        index:0,
        IP5Arr:[],
        IP15Arr:[],
        IP25Arr:[],
        finalIP5:[],
        finalIP15:[],
        finalIP25:[],
        final:[]

      }
    },
    methods: {
      onClick() {
        // Close the menu and (by passing true) return focus to the toggle button
        this.$refs.dropdown.hide(true)
      },
      submit(){

            axios
                .get('https://api.first.org/data/v1/countries')
                .then(response => {
                    this.fullInfo = response.data.data;
                    // console.log(response.data.data);
                    // console.log(this.fullInfo)
  
              this.IP5Arr=Object.entries(this.fullInfo).slice(0,5);
            console.log(this.IP5Arr[0][1].country)
                        console.log(typeof(this.IP5Arr))
               this.IP15Arr=Object.entries(this.fullInfo).slice(0,15);
            console.log(this.IP15Arr)
             this.IP25Arr=Object.entries(this.fullInfo).slice(0,25);
            console.log(this.IP25Arr)

     var i;       
for (i = 0; i < 5; i++) {
  this.finalIP5[i]= this.IP5Arr[i][1].country;
}
for (i = 0; i < 15; i++) {
  this.finalIP15[i]= this.IP15Arr[i][1].country;
}
for (i = 0; i < 25; i++) {
  this.finalIP25[i]= this.IP25Arr[i][1].country;
}
console.log(this.final)

                })
        if(this.checkedNames=="IP 5"){
                 this.final=this.finalIP5;
        }
        else if(this.checkedNames=="IP 15"){
                  this.final=this.finalIP15;
        }
          else if(this.checkedNames=="IP 25"){
                this.final=this.finalIP25;
        }
    
      },
      // checkboxes(p){
      //   console.log(this.fullInfo);
      //   console.log(p);
      //   console.log(typeof(this.fullInfo))
      // // this.finalArr=Object.entries(this.fullInfo).slice(0, 5);
      //   // if(this.index<this.p){
          
        
      //   // }
      // },
    }
  }
</script>
<style >
.corp{ 
     white-space: nowrap; 
}

      .my-buttons .active {
    color: #fff !important;
    background-color: red !important;
    border-color: red !important;
  }
    .myinput[type="checkbox"]:before {
  position: relative;
  display: block;
  width: 11px;
  height: 11px;
  border: 1px solid #808080;
  content: "";
  background: #FFF;
}

.myinput[type="checkbox"]:after {
  position: relative;
  display: block;
  left: 2px;
  top: -11px;
  width: 7px;
  height: 7px;
  border-width: 1px;
  border-style: solid;
  border-color: #B3B3B3 #dcddde #dcddde #B3B3B3;
  content: "";
  background-image: linear-gradient(135deg, #B1B6BE 0%, #FFF 100%);
  background-repeat: no-repeat;
  background-position: center;
}

.myinput[type="checkbox"]:checked:after {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC'), linear-gradient(135deg, #B1B6BE 0%, #FFF 100%);
}



.myinput[type="checkbox"]:not(:disabled):checked:hover:after {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC'), linear-gradient(135deg, #8BB0C2 0%, #FFF 100%);
}

.myinput[type="checkbox"]:not(:disabled):hover:after {
  background-image: linear-gradient(135deg, #8BB0C2 0%, #FFF 100%);
  border-color: #85A9BB #92C2DA #92C2DA #85A9BB;
}

.myinput[type="checkbox"]:not(:disabled):hover:before {
  border-color: #3D7591;
}

</style>