<template>
<div>
         <div style="padding-left:150px">
           <Authorities />
         </div>
         <div style="float:right;padding-right:150px">
         <h3>Users Information</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
 
    </tr>
  </thead>
  <tbody>
    <tr v-for="info in allInformation" :key="info.id">
      <td>{{info.id}}</td>
      <td>{{info.firstName}}</td>
      <td>{{info.lastName}}</td>
    </tr>
  </tbody>
</table>

             
        
            
        </div>
        <br><br><br>
    <div style="padding-left:150px;padding-right:150px ;">

            <div class="corp" style="float:left" >
                <p>
                    <b>
                        <span style="padding-right:5px"> Word Corpus</span>
                        
                        <b-form-checkbox v-model="checked" name="check-button" style="display: inline-block;" variant="danger" @change="isHidden = !isHidden" switch >
                            Include Chemical Synonyms 
                        </b-form-checkbox>
                    </b>
                </p>
            </div>

            <br><br>

            <div class="corp2" style="float:left" >
                <b-form-input style="width:290px;" placeholder="water"></b-form-input><br>    
            </div>

            <div style="float:left;padding-left:15px">
                <b-button variant="light" style="display: inline-block;background-color:#a3c2c2" @click="display()"><b>Analyze</b>
                </b-button>
            </div>
        
            <br><br><br>
    </div>

        <div style="padding-left:150px;width:42% "> 
            <b-tabs content-class="mt-3" >     
                <b-tab title="Keyword Suggestions" active> 
                    <div style="background-color:#d1e0e0;width:400px;min-height:150px;display: inline-block;border-radius: 5px;">                   
                        <div v-for="item in questions" :key="item.correct_answer" >
                            <b-button variant="light" style="margin:10px;float:left"   >
                                 {{item.correct_answer}}
                            </b-button>
                        </div>
                              
                           
                    </div>
                </b-tab>

                <b-tab title="Chemical Synonyms" v-if="!isHidden">
                    <div style="background-color:#d1e0e0;width:400px;min-height:150px;display: inline-block;border-radius: 5px;">                   
                        <div v-for="item in questions" :key="item.correct_answer" >
                            <b-button variant="light" style="margin:10px;background-color:white;float:left"  >
                                 {{item.correct_answer}}
                            </b-button>
                        </div>
                              
                           
                    </div>
                    
                </b-tab>
            </b-tabs>
        </div>
        <br>

        <div style="float:left;padding-left:280px">
            <b-button variant="light" style="margin:10px;background-color:#a3c2c2">Cancel</b-button>
            <b-button variant="light" @click="clear()"  style="margin:10px;background-color:#a3c2c2">Clear</b-button>
            <b-button variant="danger" style="margin:10px">Submit</b-button>
        </div>
        <br><br><br>

    </div>
    
</template>
<script>
import Authorities from './Authorities.vue'
import { mapGetters , mapActions} from "vuex";

  export default {
       name:"corpus",
       computed:mapGetters(["allInformation"]),
       data() {
        return {
            checked: false,
            questions:[],
            index:0,
            isHidden: true,
            clicked: false,
        
        }
        },
        components: {
           Authorities    
        },
    methods:{
        display(){
                fetch('https://opentdb.com/api.php?amount=10&category=27&type=multiple',{
        method:'get'
        })
        .then((response)=>{
        return response.json()
        // console.log(response.json())
        })
        .then((jsonData)=>{
        this.questions = jsonData.results
        })
            },
        clear(){
            this.questions="";
        },
        ...mapActions(["getInformation"])
       
    },
  created(){
      this.getInformation()
  }

  }
</script>
<style>
.corp{ 
     white-space: nowrap;
    
}
.corp2{ 
     white-space: nowrap;
    
}
.white {
       background-color: white;     
   }
   .red {
       background-color:grey;

   }

</style>