<template>
<div>
<input type="email" v-model="email" id="email" name="email" class="form-control" required/>

<div v-if="!this.email.match(this.validation)" style="font-size:10px;color:red">Enter a valid email id</div>{{email}}
                             
</div>
</template>
<script>
export default {
    name:"Email",
        data(){
        return{
            email: "",
            validation:/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/
        
        };
    },
     methods: {
         
        }
}
</script>



