<template>
    <div>
        <div class="form-group">
           <label for="name"><b>{{msg}}</b></label>
            <input type="text" v-model="firstName" id="firstName" name="firstName" class="form-control" @keypress.enter="getName()" required  />
            
            <div v-if="!this.firstName.match(this.letters)" style="font-size:10px;color:red">Enter only Alphabets</div>

            {{firstName}}       
        </div>
    </div>

</template>
<script>
// import { mapGetters, mapActions } from "vuex";
import { mapActions} from "vuex";
export default {
      name:'InputText',
      props: {
            msg: String
        },
    data(){
        return{
            firstName: "",
            message: "",
            letters:/^[A-Za-z]+$/,
        
        };
    },
   
    //  watch: {
    //     firstName: function() {
    //     // Emit this information to the parents component
    //     this.$emit("child-name", this.firstName);
    //     }
    // },
         methods: {
           
        //   changeMsg() {
        //   this.$emit("changeMsg", this.firstName);
        //   console.log('message emit from child component')
        // },
        ...mapActions(["addInformation"]),
        getName(){
            this.addInformation({
                firstName:this.firstName
            })
        }
        },
    

  mounted(){
    console.log(this.$store.state.information.firstName);
    this.setName("assg")
  }
       

}
</script>

