
<template>
<div>
    <div class="jumbotron">
         
        <div class="container">
            <div class="row">
                <div class="col-sm-8 offset-sm-2">
                    <div>
                       
                        <h2>Login Form</h2>
                        <form @submit.prevent="handleSubmit()">
                            <div class="form-group">
                            <label for="firstName"><b>Enter First Name</b></label>
                             <input type="text" v-model="firstName" id="firstName" name="firstName" class="form-control"  required  />
                            <div v-if="!this.firstName.match(this.letters)" style="font-size:10px;color:red">Enter only Alphabets</div>

                              {{firstName}}
                            </div>
                            <div class="form-group">
                                  <label for="firstName"><b>Enter Last Name</b></label>
                             <input type="text" v-model="lastName" id="lastName" name="lastName" class="form-control"  required  />
                             <div v-if="!this.lastName.match(this.letters)" style="font-size:10px;color:red">Enter only Alphabets</div>

                             {{lastName}}
                            </div>
                            <div class="form-group">
                                <label for="email"><b>Email</b></label>
                                <Email />
                            </div>
                                <div class="form-group">
                                <label for="mobile"><b>Mobile Number</b></label>
                                <MobileNo />
                            </div>
                            <div class="form-group">
                              <router-link to='/corpus'> <button @click="getName()">"Login"</button></router-link>
                            </div>
                               
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
 
</div> 
</template>

<script>
    import { mapActions} from "vuex";
    // import InputText from './InputText.vue'
    import Email from './Email.vue'
    import MobileNo from './MobileNo.vue'
    // import Emiter from './Emiter.vue'



    export default {
        name: "Login",
        components: {
            // InputText,
            Email,
            MobileNo,
            // Emiter
            // Button
        },
        data(){
            return{
                fname:"",
                 welcomeMsg: "Helloo",
                  firstName: "",
                  lastName:"",
                  id:"",
                
            message: "",
            letters:/^[A-Za-z]+$/,
            }
        },
        methods:{
             ...mapActions(["addInformation"]),
        getName(){
            this.addInformation({
                firstName:this.firstName,
                lastName:this.lastName,
                id:this.id
            })
        }
        },
         mounted(){
    console.log(this.$store.state.information.firstName);
    // this.setName("assg")
  }
        
            
        
        
    };
</script>