<template>
<div>
<input type="number" v-model="value" id="mobile" name="mobile" class="form-control"  required/>
<div v-if="!this.value.match(this.pno)" style="font-size:10px;color:red">Enter a valid number</div>
{{value}}


                             
</div>
</template>
<script>
export default {
    name:"MobileNo",
        data(){
        return{
            value: "",
            pno:"[1-9]{1}[0-9]{9}"
        };
       
    },
    methods:{
        // phoneno(){
        //     if(!this.value.match(this.pno)){
        //           alert("enter a valid no")
        //           return
        //     }
         
        // }
    }

}
</script>
        